.login-as-container{
  margin-right: 8vw !important;
  margin-left: 8vw !important;
}

.login-as-text-section-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.login-as-text-section-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login-as-primary-heading-right {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
  text-align: right !important;
}
.login-as-primary-heading-left {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
  text-align: left !important;
}

.loginas-primary-text-right {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  /* margin-right: 1.5rem 0rem; */
  text-align: right;
}
.loginas-primary-text-left {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  /* margin-right: 1.5rem 0rem; */
  text-align: left;
}


.login-as-secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #0DFE34;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-as-secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.login-as-secondary-button:hover {
  background-color: #eef5efed;
}


.login-as-banner-container {
  /* position: absolute !important; */
  padding-top: 20%;
}



@media (max-width: 800px) {
  .login-as-text-section-right,
  .about-section-text-container {
    justify-content: left;
    align-items: left;
    margin-top: 4rem;
  }
  .login-as-primary-heading-right {
    text-align: left;
    max-width: 90%;
  }
  .loginas-primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #ffffffe7;
    /* margin-right: 1.5rem 0rem; */
    text-align: left;
  }



  .login-as-secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
    background-color: #0DFE34;
    color: #fff;
  }
  .login-as-secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  }
  .login-as-secondary-button:hover {
    background-color: #06af1d;
  }
}
